{% extends "base.html" %}
{% block styles %}
{{ super()}}
<link rel="stylesheet" href="/static/css/connexion.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="text-center" id="centre">
<form class="form-signin" method="post" role="form" action="{{ url_for('confirmer_ajout_admin') }}" onsubmit=" return confirmerValidation();">
  {{ form.hidden_tag() }}
  <img class="mb-4" src="./static/icons/CML_Logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

  <label for="login-name" class="sr-only">
    {{ form.username.label }}
  </label>
  <div class="">
      {{ form.username(size=50, class_="form-control", placeholder = "Nom d'utilisateur", minlength="4", maxlength="20") }}
  </div>


  <label for="login-pass" class="sr-only">{{ form.password.label }}</label>
  <div class="">
    {{ form.password(size=50, class_="form-control", placeholder = "Password", minlength="4", maxlength="20") }}
  </div>
  {% if adminExiste==1 %}
  <div class="uk-alert-warning" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Ce nom d'utilisateur est indisponible !</p>
  </div>
  {% endif %}


  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">S'inscrire</button>
</form>
</div>
<script>
  function confirmerValidation(){
    check=window.confirm("Voulez vous vraiment vous inscrire ?");
    res=false;
    if (check){
      res=true;
    }
    return res;
  }
</script>
{% endblock %}
