{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/photo.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="voirCompetition container">
    <h1 class="text-center">Photos <b>{{tournoi.intituleT}}<b></h1>
    <div class="row">
            {% if route == "tableau" %}
            <a href="/tableau_de_bord/{{tournoi.idT}}">
                <button class="btn btn-primary btn-lg" id="addPhoto"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button>
            </a>
            <a href="/tableau_de_bord/{{tournoi.idT}}/ajouter_photo">
                <button class="btn btn-success btn-lg" id="addPhoto">Ajouter une photo <span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
            </a>
            {% endif %}

            {% if route == "voirCompet" %}
            <a href="/voir_competition/{{tournoi.idT}}">
                <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"> Retour</button>
            </a>
            {% endif %}
    </div>
    <div class="uk-h3">Galerie</div>
    <div class="uk-child-width-1-4@m" uk-grid>
      {% for i in range(photos|length) %}
        <div>
            <a class="uk-inline" href="{{ url_for('static', filename = 'tournoi_' + tournoi.intituleT + '_' + tournoi.idT|string + '/photos/' + photos[i].idPhoto|string + '_' + photos[i].nomPhoto) }}" data-caption="{{photos[i].nomPhoto}}">
                <img src="{{ url_for('static', filename = 'tournoi_' + tournoi.intituleT + '_' + tournoi.idT|string + '/photos/' + photos[i].idPhoto|string + '_' + photos[i].nomPhoto) }}" alt=""/>
            </a>
            <a href="/tableau_de_bord/{{tournoi.idT}}/supprimer_photo/{{photos[i].idPhoto}}" onclick = "return supprimer_photo()"><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
        </div>
      {% endfor %}
    </div>
</div>
<script type="text/javascript">
    if(document.querySelector('#addPhoto')){
      document.querySelector('#Tableau').setAttribute("class","active");
    }
    else{
      document.querySelector('#dropdown').setAttribute("class","active");
    }

    function supprimer_photo(){
      check = window.confirm("Voulez vous vraiment supprimer cette photo ?")
      res = false
      if(check){
        res = true
      }
      return res
    }

</script>
{% endblock %}
