{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirMatchs.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/facebook_publishing.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1095919973923316',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}
{% block main %}
<div class="container">
  <h1>Résultat de la partie
    <p class="hidden" id="cpt">{{equipes|length}}</p>
    {% set x = "" %}
    {% for i in range((equipes|length)) %}
      {% if i != (equipes|length)-1 %}
        {% set x = x + (equipes[i].nomE + " / ") %}
        {{ x }}
      {% else %}
        {% set x = x + (equipes[i].nomE) %}
        {{ x }}
      {% endif %}
    {% endfor %}
  </h1>
  {% set stringFinal = [] %}
  {% for key, value in dico_resultat.items() %}
    {% set x  = "" %}
    <p class="hidden" id="equipe{{loop.index}}">{{key.nomE}}</p>
    <p class="hidden" id="score_equipe{{loop.index}}">{{ value }}</p>
    <p>
      {{key.nomE}} : {{value}} points.
      {% do stringFinal.append((key.nomE, value)) %}
    </p>
  {% endfor %}
  <p class="hidden" id="scoreFinal">{{stringFinal}}</p>
</div>
<div class="text-center">
<!-- <a href="#" id="fb_btn"><button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-share" aria-hidden="true"> Partager</a> -->
<button id="fb_btn" type="" name="button">Partager</button>
<a href='/tableau_de_bord/{{tournoi}}/matchs'><button class="btn btn-lg btn-primary">Retour vers les matchs</button></a>
</div>
{% endblock %}
