{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirCompetitionsActives.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/uikit.min.js')}}"></script>
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
  <div class="container">
    <form role="form" method="post" action="/tableau_de_bord/recherche/">
      <h1 class="text-center">Voici vos compétitions!</h1>
      <div class="recherche input-group container">
        <input name="search" class="rechercheComp form-control" type="text">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="container divCartes">

    <input type="hidden" id="cpt"  value="{{ tournois|length }}">
    <h2>Vos compétitions inactives</h2>

  <div uk-slider>

      <div class="uk-position-relative uk-visible-toggle" tabindex="-1">

          <ul class="uk-slider-items uk-child-width-1-3@m uk-grid">
            {% for i in range(tournois|length) %}
            {% if tournois[i].etatT == 0 %}
              <li>
                  <div class="uk-card uk-card-default uk-card-small">
                    <p class="hidden" id="date{{ i }}">{{ tournois[i].dateT }}</p>
                    <div class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                          <div class="uk-width-auto uk-margin-left">
                              <img class="img_logo" src="{{ tournois[i].logoT }}">
                          </div>
                          <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom text-center">{{ tournois[i].intituleT}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top text-center">Début du tournoi: <label id="FormatedDate{{ i }}"></label></p>
                          </div>
                      </div>
                    </div>
                    <div class="uk-card-footer">
                      <a href='/tableau_de_bord/{{ tournois[i].idT }}' class='uk-button uk-button-primary uk-align-center'>voir les details</a>
                    </div>
                  </div>
              </li>
              {% endif %}
              {% endfor %}
          </ul>

          <a class="uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>

      </div>

  </div>

  <h2>Vos compétitions actives</h2>

  <div uk-slider>

      <div class="uk-position-relative uk-visible-toggle" tabindex="-1">

          <ul class="uk-slider-items uk-child-width-1-3@m uk-grid">
            {% for i in range(tournois|length) %}
            {% if tournois[i].etatT == 1 %}
              <li>
                  <div class="uk-card uk-card-default uk-card-small">
                    <p class="hidden" id="date{{ i }}">{{ tournois[i].dateT }}</p>
                    <div class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                          <div class="uk-width-auto uk-margin-left">
                              <img class="img_logo" src="{{ tournois[i].logoT }}">
                          </div>
                          <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom text-center">{{ tournois[i].intituleT}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top text-center">Début du tournoi: <label id="FormatedDate{{ i }}"></label></p>
                          </div>
                      </div>
                    </div>
                    <div class="uk-card-footer">
                      <a href='/tableau_de_bord/{{ tournois[i].idT }}' class='uk-button uk-button-primary uk-align-center'>voir les details</a>
                    </div>
                  </div>
              </li>
              {% endif %}
              {% endfor %}
          </ul>

          <a class="uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>

      </div>

  </div>

  <h2>Vos compétitions terminées</h2>

  <div uk-slider>

      <div class="uk-position-relative uk-visible-toggle" tabindex="-1">

          <ul class="uk-slider-items uk-child-width-1-3@m uk-grid">
            {% for i in range(tournois|length) %}
            {% if tournois[i].etatT == 2 %}
              <li>
                  <div class="uk-card uk-card-default uk-card-small">
                    <p class="hidden" id="date{{ i }}">{{ tournois[i].dateT }}</p>
                    <div class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                          <div class="uk-width-auto uk-margin-left">
                              <img class="img_logo" src="{{ tournois[i].logoT }}">
                          </div>
                          <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom text-center">{{ tournois[i].intituleT}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top text-center">Début du tournoi: <label id="FormatedDate{{ i }}"></label></p>
                          </div>
                      </div>
                    </div>
                    <div class="uk-card-footer">
                      <a href='/tableau_de_bord/{{ tournois[i].idT }}' class='uk-button uk-button-primary uk-align-center'>voir les details</a>
                    </div>
                  </div>
              </li>
              {% endif %}
              {% endfor %}
          </ul>

          <a class="uk-position-center-left" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right" href="#" uk-slidenav-next uk-slider-item="next"></a>

      </div>

  </div>

<br>
<br>

  </div>
</div>

<script type="text/javascript">
  function convertionDate(cpt){
    for (var i = 0; i < cpt; i++) {
      date = document.getElementById("date" + i).innerText;
      jour = date.charAt(8) + date.charAt(9);
      mois = date.charAt(5) + date.charAt(6);
      annee = date.charAt(0) + date.charAt(1) + date.charAt(2) + date.charAt(3)
      var dateFormatee = jour + "/" + mois + "/" + annee;
      document.getElementById("FormatedDate" + i).innerHTML = dateFormatee;
    }
  }
  window.onload = convertionDate(document.getElementById("cpt").value);
  document.querySelector('#Tableau').setAttribute("class","active");
</script>
{% endblock %}
