{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirCompetitionsActives.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
  <div class="container">
    <form role="form" method="POST" action="/voir_competitions_inactives/recherche/">
      <h1 class="text-center">Voici les compétitions inactives!</h1>
      <div class="recherche input-group container">
        <input name="search" class="rechercheComp form-control" type="text">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
</div>
  <div class="container divCartes">
    <input type="hidden" id="cpt"  value="{{ tournois|length }}">
    <div  class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    {% for i in range(tournois|length) %}
    <input type="hidden" id="date{{ i }}"  value="{{ tournois[i].dateT }}">
    <div>
      <div class="uk-card uk-card-default uk-card-small">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto uk-margin-left">
                  <img class="img_logo" src="{{ tournois[i].logoT }}">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom text-center">{{ tournois[i].intituleT}}</h3>
                <p class="uk-text-meta uk-margin-remove-top text-center">Tournoi de : {{dicoAdmin[tournois[i].idT][1]}}<br/> Début du tournoi : <label id="FormatedDate{{ i }}"></label> </p>
              </div>
          </div>
        </div>
          <div class="uk-card-footer">
            <a href="/voir_competition/{{ tournois[i].idT }}" class="bouton_detail uk-button uk-button-primary uk-align-center">voir les détails</a>
          </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
  function convertionDate(cpt){
    for (var i = 0; i < cpt; i++) {
      date = document.getElementById("date" + i).value;
      jour = date.charAt(8) + date.charAt(9);
      mois = date.charAt(5) + date.charAt(6);
      annee = date.charAt(0) + date.charAt(1) + date.charAt(2) + date.charAt(3)
      var dateFormatee = jour + "/" + mois + "/" + annee;
      document.getElementById("FormatedDate" + i).innerHTML = dateFormatee;
    }
  }
  window.onload = convertionDate(document.getElementById("cpt").value);
  document.querySelector('#dropdown').setAttribute("class","active");
  document.querySelector('#dropdownMenu1').innerText="Compétitions inactives"
</script>
{% endblock %}
