{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirMatchs.css') }}">
{% endblock %}
{% block scripts %}
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% endblock %}
{% block main %}
<div class="voirMatchs container mainCont">
	<div class="panneau_haut">    <!-- Partie du haut, avec le titre et les boutons -->
		<h2>Matchs du Tournoi</h2>
	</div>
	{% if route == "tableau" %}
	<a href="/tableau_de_bord/{{tournoi.idT}}"><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
	{% endif %}

	{% if route == "voirCompet" %}
	<a href="/voir_competition/{{tournoi.idT}}"><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
	{% endif %}
	<div class="row">
	<div class="col-md-6">
		<h3 class="text-center">Classement</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Place</th>
					<th scope="col">Nom d'equipe</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
			{% for equipe in equipes %}

				<tr>
					<td>{{ loop.index }}</td>
				  <td>{{ equipe.nomE }}</td>
					<td>{{ equipe.points }}</td>
				</tr>

			{% endfor %}
			</tbody>
		</table>
</div>
<div class="">

</div>

<div class ="col-md-6">
		<div class="block_matchs_inter">			<!-- Partie de droite, avec la liste des prochains matchs -->
			<h3 class="text-center">Matchs à venir</h3>
			{% if equipes2|length == 0 %}
			<p>
				Tous les matchs sont terminés.
			</p>
			{% else %}
			<ul uk-accordion="collapsible: false; multiple: false">
			{% for equipe in equipes2 %}
			{% set x = "" %}
						<li>
								<a class="uk-accordion-title" href="#">
									{% for i in range(1,(equipe|length)) %}
										{% if i != (equipe|length)-1 %}
											{% set x = x + (equipe[i].nomE + " / ") %}
											{{ x }}
										{% else %}
											{% set x = x + (equipe[i].nomE) %}
											{{ x }}
										{% endif %}
									{% endfor %}
								</a>
								<div class="uk-accordion-content">
									<p class="">La partie {{ equipe[0].idPartie}}
									<form method="post" action="/tableau_de_bord/{{tournoi.idT}}/matchs/{{equipe[0].idPartie}}/lancer_match">
						            <select name="cartePartie" class="uk-select uk-margin-small-bottom" id="form-horizontal-select">
													{% for map in listeMaps %}
						                <option>{{map}}</option>
													{% endfor %}
						            </select>
									{% if route == "tableau" %}
										<button type="submit" class="uk-button uk-button-primary text-center">Lancer le match</button>
									{% endif %}
									</form>
								</div>
						</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
</div>
</div>
</div>
</div>
{% endblock %}
